<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2021 magerubik.com. All rights reserved. 
 * @author Magerubik Team <info@magerubik.com> 
 * @package Magerubik_Productslider
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magerubik_Productslider" setup_version="2.4.0">
		<sequence>
            <module name="Magento_Catalog"/>
			<module name="Magerubik_All"/>
        </sequence>
    </module>
</config>